body, html {
  height: 100%;
  margin: 0;
  overflow: hidden;
  background: url('bizcardgreenback.png') no-repeat center center fixed;
  background-size: cover;
}

#container {
  position: relative;
  width: 100%;
  height: calc(100% - 40px); /* Adjust based on footer height */
}

#card {
  position: absolute;
  width: 40%; /* Adjust based on desired size */
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  cursor: grab;
  transition: transform 0.2s ease-out, left 0.2s ease-out, top 0.2s ease-out; /* Smooth transitions */
  padding: 10px;
}

#card:active {
  cursor: grabbing;
}


#card {
  position: absolute;
  width: 40%; /* Adjust based on the original size to make it 4x larger */
  
}